# gitignore
data/*

# test files
test.cpp

# Unfortunately I like VSCode (but also VIM!)
.vscode/settings.json


# Output files
*.o
STC
a.out

plots/

# TeX pdf - ignore for now, REMOVE FROM GITIGNORE LATER
STC.pdf
